**

!.todo

!.genericFiles/
!.genericFiles/**

!.settingsExport/
!.settingsExport/**

!.tmux/
!.tmux/**
.tmux/plugins/
.tmux/plugins/**

!.atom/**
!.atom/*
.atom/*/


!.startuprc
!.gitignore
!.vimrc
!.bashrc
!.tmux.conf
!README.md
!.taskrc
