"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "purple-rain"
    ]
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "9b7681e5-ae75-4e99-9380-7ea58069153e"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
