"*":
  core:
    disabledPackages: [
      "language-javascript"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Olafur"
    fontSize: 11
    lineHeight: 1.7
  "exception-reporting":
    userId: "38aaffea-334a-41c5-9512-53189bc9c50c"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
