'atom-text-editor':
  'ctrl-alt-right': 'window:focus-pane-on-right'
  'ctrl-alt-left': 'window:focus-pane-on-left'
  'ctrl-alt-up': 'window:focus-pane-above'
  'ctrl-alt-down': 'window:focus-pane-below'


'atom-text-editor[data-grammar="text html basic"]:not([mini])':
    'ctrl-enter': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="text xml basic"]:not([mini])':
    'ctrl-enter': 'emmet:expand-abbreviation-with-tab'
